<% @page_title = "Admin Menu" %>

<div id="admin-menu" class="jumbotron">
  <h2>Admin Menu</h2>
  <div id="identity">
    Logged in as: <%= @username %>
  </div>
  <div id="menu-options" class="list-group">
    <%= link_to("Manage Content", subjects_path, class:"list-group-item list-group-item-action") %>
    <%= link_to("Manage Admin Users", admin_users_path, class:"list-group-item list-group-item-action") %>
    <%= link_to("Logout", access_logout_path, class:"list-group-item list-group-item-action") %>
  </div>
</div>
