<% @page_title = "Delete Page" %>

<div class="action-wrap">
  <div class="header">
    <h2>Delete Page</h2>
    <%= link_to(fa_icon("arrow-left", text: 'Back to List'), pages_path(:subject_id => @subject.id), :class => 'back-link') %>
  </div>
  <div class="form-container delete-reference">
  <%= form_for(@page, :url => page_path(@page, :subject_id => @subject.id), :method => 'delete') do |f| %>
    <h4>Are you sure you want to permanently delete this page?</h4>
    <p><%= f.object.name %></p>
    <%= f.submit("Delete Page", class:"btn btn-danger") %>
    <% end %>
  </div>

</div>
