<% @page_title = "Add New Page" %>

<div class="action-wrap">
  <div class="header">
    <h2>Create Page</h2>
    <%= link_to(fa_icon("arrow-left", text: 'Back to List'), pages_path(:subject_id => @subject.id), :class => 'back-link') %>
  </div>
  <div class="form-container">
    <%= form_for(@page, :url => pages_path(:subject_id => @subject.id)) do |f| %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>
      <%= f.submit("Create Page", class:"btn btn-primary") %>
      <% end %>
  </div>
</div>
