<% @page_title = "Edit Subject" %>

<div class="action-wrap">
  <div class="header">
    <h2>Edit Subject</h2>
    <%= link_to(fa_icon("arrow-left", text: 'Back to List'), subjects_path, :class => 'back-link') %>
  </div>
  <div class="form-container">
  <%= form_for(@subject, :url => subject_path(@subject), :method => 'patch') do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <%= f.submit("Edit Subject", class:"btn btn-primary") %>
    <% end %>
  </div>

</div>
