<%= link_to("<< Back to list", subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Edit Subject</h2>
  <%= form_for(@subject, :url => subject_path(@subject), :method => 'patch') do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= f.submit("Edit Subject") %>
    </div>
  <% end %>
</div>
