<% @page_title = "New Admin User" %>

<div class="action-wrap">
  <div class="header">
    <h2>Edit Admin User</h2>
    <%= link_to("<< Back to list", admin_users_path, :class => 'back-link') %>
  </div>
  <div class="form-container">
    <%= form_for(@admin_user) do |f| %>
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <%= f.submit("Update Admin User", class:"btn btn-primary") %>
    <% end %>
  </div>
</div>
