// Place all the styles related to the Subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-header {
  padding: 10px;
  text-align: center;
  a {
    font-size: 0.9rem;
  }
  .back-link {
    float: right;
  }
  .new {
    float: left;
  }
}

.index {
  text-align: center;
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
}

.action-wrap {
  padding: 20px;
  margin: 5% auto;
  max-width: 90%;
  border: 1px solid #eee;
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-container {
    border: 1px solid #eee;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    label {
      font-size: 0.8rem;
    }
    input[type="submit"] {
      display: block;
      margin: 0 auto;
    }
  }
  .delete-reference {
    text-align: center;
    border: 0;
    h4 {
      font-size: 1.3rem;
      font-weight: 700;
      color: red;
    }
    p {
      font-weight: 700;
    }
  }
  table {
    margin: 0 auto;
    max-width: 350px;
    border: 1px solid #eee;
    th {
      text-align: right;
    }
    td {
      text-align: center;
    }
  }
  .section {
    max-width: 90%;
    th {
      max-width: 50px;
    }
  }
}
