// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-header {
  padding: 10px;
  text-align: center;
  a {
    font-size: 0.9rem;
  }
  .back-link {
    float: right;
  }
  .new {
    float: left;
  }
}

.index {
  text-align: center;
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
}
